<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<app-menu></app-menu>
<div class="container">
  <h2 class="text-center mb-5">Puntos de Interés</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let lugar of lugares">
      <div class="card mb-4">
        <img [src]="lugar.imagen" class="card-img-top" [alt]="lugar.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ lugar.nombre }}</h5>
          <p class="card-text">{{ lugar.descripcion }}</p>
          <button class="boton-mas-info">Más información</button>
          <button class="boton-ubicacion" (click)="abrirMapa($event, lugar)">Ubicación</button>     
        </div>
      </div>
    </div>
  </div>
</div>